<div *ngIf="color==='red'" class='red content'>
    <h1>Skills</h1>
</div>
<div *ngIf="color==='yellow'" class="yellow content">
    <div class="profile_pic"></div>
    <div class="yellow_text">
        <div class="y_intro">
            <h1>Hello,</h1>
            <h2>I'm Hayden ;)</h2>
            <h3>full-stack web developer</h3>
        </div>
        <div class="y_about">
            <h2>about me</h2>
            <article>That know ask case sex ham dear her spot. Weddings followed the all marianne nor whatever settling. Perhaps six
                prudent several her had offence. Did had way law dinner square tastes. Recommend concealed yet her procuring
                see consulted depending. Adieus hunted end plenty are his she afraid. Resources agreement contained propriety
                applauded neglected use yet. Turned it up should no valley cousin he. Speaking numerous ask did horrible

            </article>
        </div>
    </div>
</div>
<div *ngIf="color==='blue'">
    this is red
</div>
<div *ngIf="color==='lightgreen'">
    this is red
</div>
<div *ngIf="color==='green'">
    this is red
</div>
<div *ngIf="color==='skyblue'">
    this is red
</div>
<div *ngIf="color==='navy'">
    this is red
</div>
<div *ngIf="color==='purple'">
    this is red
</div>