<div *ngIf="color==='red'" class='red content'>
    <h1>Skills</h1>
</div>
<div *ngIf="color==='yellow'" class="yellow content">
    <div class="profile_pic"></div>
    <div class="yellow_text">
        <div class="y_intro">
            <div>
            <h1>Hello ,</h1>
            <h2>I'm Hayden Rahn :)</h2>
            <h3>full-stack web developer</h3>
            </div>
            <div class="y_profile"></div>
        </div>
        <div class="y_about">
            <article>
                    &nbsp;&nbsp; &nbsp;  I grew up in south Korea, came to America after I graduated my high school. I felt really lost on the first year in the U.S because I was not sure that I could study my major, genetic engineering in English and paying the world most expersive tuition for four years. So I started looking for something that I was interested in but never done in my life. While I was going through that process, I heard about virture reality and I first got exposed to programming. I learned C# to use unity, since I didn't have any knowdlege in this field I learned .NET framwork along with it. I wanted to learn more deeper about it so I went to immersive web development courses covered Javascript mainly. Graduating that course,I've worked for a couple local business.I've been keep learning and coding everyday,felt this is what I really want to do for rest of my life. The fact that there's no end of learning in this field always keep me excited and motivated.
            </article>
        </div>
    </div>
</div>
<div *ngIf="color==='blue'">
    this is red
</div>
<div *ngIf="color==='lightgreen'">
    this is red
</div>
<div *ngIf="color==='green'">
    this is red
</div>
<div *ngIf="color==='skyblue'">
    this is red
</div>
<div *ngIf="color==='navy'">
    this is red
</div>
<div *ngIf="color==='purple'">
    this is red
</div>