.content{
    -webkit-animation-name: open; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: open;
    animation-duration: 3s;
    max-height: auto;
    overflow: hidden;
}
@-webkit-keyframes open {
    from {
      max-height: 0px;
    }
    to {
      max-height: 300px;
    }
  }
  
  @keyframes open {
    from {
      max-height: 0px;
    }
    to {
      max-height: 300px;
    }
  }