@import "../../../../scss/var";
@import "../../../../scss/media";
@import "../../../../scss/_mixin";
.click-below{
  margin:20px 0 0 0 !important;
  font-family: $header;
  font-size: 1.2em;
  border-bottom: rgba(0, 0, 0, 0.5) 0.5px solid;
}
.content {
  -webkit-animation-name: open; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: open;
  animation-duration: 2s;
  max-height: auto;
  overflow: hidden;
  text-align: center;
  h1 {
    font-weight: lighter;
    font-family: $header;
  }
}
.yellow {
  .y_about {
    padding: 50px;
  }
  .y_intro {
    h2 {
      font-weight: lighter;
    }
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }
    @include middle {
      flex-direction: row;
    }
    justify-content: space-evenly;
    .y_profile {
      @media (max-width: 500px) {
        margin: 0 auto;
      }
      @include tablet {
        flex-direction: row;
        width: 200px;
        height: 200px;
      }
      @include desktop {
        flex-direction: row;
      }
      @include middle {
        width: 200px;
        height: 200px;
        flex-direction: row;
      }
      border-radius: 20px;
      width: 250px;
      background-size: cover;
      height: 250px;
      background-image: url("../../../../scss/images/profile.jpeg");
    }
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    h1 {
      font-size: 4em;
      color: $yellow;
      margin: 0;
    }
  }
}
 .img-container {
    @include tablet {
      width: 75%;
    }
    @include desktop {
      width: 70%;
    }
    margin: 20px auto 50px;
    width: 90%;
    @include boxshadow-hover-effect();
    img {
      width: 100%;
      border-radius: 5px;
      @-webkit-keyframes fadeIn {
        from { opacity: 0.7; }
        to{opacity: 1;}}
      @keyframes fadeIn {
        from { opacity: 0.7; }
        to{opacity: 1;}}
        -webkit-animation:1s fadeIn;
        animation:1s fadeIn;
    }
  }
  .lg{
    .lg-header{
      width: 90%;
      margin: 30px auto;
      text-align: left;
      @include tablet {
        width: 75%;
      }
      @include desktop {
        width: 70%;
      }
      h1{
        color: $lightgreen;
        margin: 0;
        font-family: $header;
      }
    }
  }
.green {
 
  .g-link {
    text-align: right;
    color: black;
    font-weight: bold;
    a:-webkit-any-link {
      color: black;
    }
    &:hover {
      a:-webkit-any-link {
        transition: 0.3s;
        color: $green;
      }
    }
  }

  .g-header {
    width: 90%;
    margin: 30px auto;
    text-align: left;
    @include tablet {
      width: 75%;
    }
    @include desktop {
      width: 70%;
    }
    a {
      text-decoration: none;
    }
    h1 {
      color: $lightgreen;
      margin: 0;
      span {
        color: $green;
        font-family: $header;
        font-size: 2.5em;
        font-weight: bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:hover {
          color: $lightgreen;
          text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          transition: 0.4s ease-in-out;
        }
      }
    }
    p {
      margin: 0;
    }
  }
}
.skyblue{
  .sk-link {
    text-align: right;
    color: black;
    font-weight: bold;
    a:-webkit-any-link {
      color: black;
    }
    &:hover {
      a:-webkit-any-link {
        transition: 0.3s;
        color: $skyblue;
      }
    }
  }
  .sk-header {
    width: 90%;
    margin: 30px auto;
    text-align: left;
    @include tablet {
      width: 75%;
    }
    @include desktop {
      width: 70%;
    }
    a {
      text-decoration: none;
    }
    h1 {
      color: $skyblue;
      margin: 0;
      font-size: 1.4em;
      font-weight: lighter;
      span {
        display: block;
        color: $skyblue;
        font-family: $header;
        font-size: 2em;
        font-weight: bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:hover {
          color: #B3F5FF;
          text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          transition: 0.4s ease-in-out;
        }
      }
    }
    p {
      margin: 0;
    }
  }
  .img-container{
 .sb-double-img{
   display: flex;
   align-items: baseline;
   flex-direction: row;
   justify-content: space-evenly;
   img{
     width: 48%;
     height: auto;
   }
 } 
}
}
.navy{
  .nv-link {
    text-align: right;
    color: black;
    font-weight: bold;
    a:-webkit-any-link {
      color: black;
    }
    &:hover {
      a:-webkit-any-link {
        transition: 0.3s;
        color: $navy;
      }
    }
  }
  .nv-header {
    width: 90%;
    margin: 30px auto;
    text-align: left;
    @include tablet {
      width: 75%;
    }
    @include desktop {
      width: 70%;
    }
    a {
      text-decoration: none;
    }
    h1 {
      color: $blue;
      margin: 0;
      span {
        color: $navy;
        font-family: $header;
        font-size: 2.5em;
        font-weight: bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:hover {
          color: $blue;
          text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          transition: 0.4s ease-in-out;
        }
      }
    }
    p {
      margin: 0;
    }
  }
}
@-webkit-keyframes open {
  from {
    max-height: 0px;
  }
  to {
    max-height: 100vh;
  }
}

@keyframes open {
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}
.purple{
  section{
    width: 90%;
    margin: 30px auto;
    text-align: left;

    @include tablet {
      width: 75%;
    }
    @include desktop {
      width: 70%;
    }
    h2{
      color:$purple;
      letter-spacing: 1px;
      font-family: $header;
    }
    a{
      text-decoration: none;
      color:black;
      &:hover{
        color:$purple;
      }
    }
  }
  .img-container{
    margin-bottom: 100px;
  }
  hr{ border-color:$purple;
    opacity: 0.3;
   }
}