@import "../../../scss/animation";
@import "../../../scss/_media";

.red {
  border: 0.5px solid #ff5630;
}
.yellow {
  border: 0.5px solid #ffab00;
}
.green {
  border: 0.5px solid #00875a;
}
.lightgreen {
  border: 0.5px solid #36b37e;
}
.skyblue {
  border: 0.5px solid #00b8d9;
}
.purple {
  border: 0.5px solid #6554c0;
}
.blue {
  border: 0.5px solid #0052cc;
}
.navy {
  border: 0.5px solid navy;
}
.goBackred {
  background-color: #ff5630;
}
.goBackyellow {
  background-color: #ffab00;
}
.goBackgreen {
  background-color: #00875a;
}
.goBacklightgreen {
  background-color: #36b37e;
}
.goBackblue {
  background-color: #0052cc;
}
.goBackskyblue {
  background-color: #00b8d9;
}
.goBacknavy {
  background-color: navy;
}
.goBackpurple {
  background-color: #6554c0;
}

.paper {
  width: 90vw;
  margin: 35px auto;
  @include tablet {
    width: 60vw;
    margin: 50px auto;
  }
  @include desktop {
    width: 50vw;
    margin: 75px auto;
  }
      app-content{
        -webkit-animation-name: open; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: open;
        animation-duration: 4s;
        background-color: #0052cc;
      }
  .goBack {
    display: inline-block;
    margin: 25px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;

    &:hover {
      cursor: pointer;
    }
    &:active {
      -webkit-animation-name: zoomOut;
      animation-name: zoomOut;
    }
  }
}
@-webkit-keyframes open {
  from {
    height: 0px;
    display: none;
  }
  to {
    height: auto;
    display: block;
  }
}

@keyframes open {
  from {
    max-height: 0px;
  }
  to {
   max-height: 300px;
  }
}
