@import "../../../scss/animation";

.red {
  border: 2px solid #ff5630;
}
.yellow {
  border: 2px solid #ffab00;
}
.green {
  border: 2px solid #00875a;
}
.lightgreen {
  border: 2px solid #36b37e;
}
.skyblue {
  border: 2px solid #00b8d9;
}
.purple {
  border: 2px solid #6554c0;
}
.blue {
  border: 2px solid #0052cc;
}
.navy {
  border: 2px solid navy;
}
.goBackred {
  background-color: #ff5630;
}
.goBackyellow {
  background-color: #ffab00;
}
.goBackgreen {
  background-color: #00875a;
}
.goBacklightgreen {
  background-color: #36b37e;
}
.goBackblue {
  background-color: #0052cc;
}
.goBackskyblue {
  background-color: #00b8d9;
}
.goBacknavy {
  background-color: navy;
}
.goBackpurple {
  background-color: #6554c0;
}

.paper {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  height: 80vh;
  width: 90%;
  margin: 3vh auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 3px #f0f2f5;

  .goBack {
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    &:active {
      -webkit-animation-name: zoomOut;
      animation-name: zoomOut;
    }
  }
}
