@import "../../../../../scss/mixin";
@import "../../../../../scss/_var";
@import "../../../../../scss/_media";
$design_c: #2196f3;
$design_b: #bbdefb;
$front_c:#4CAF50;
$front_b:#C8E6C9;
$back_c:#FFC107;
$back_b:#FFECB3;

.tabs {
  background-color: rgba(0,0,0,0.03);
  padding: 50px 0;
  span {
    font-family: $point-font;
    @include boxshadow-hover-effect();
    margin: 10px;
    padding: 10px;
  }
}
.graph {
  margin: 10px auto 50px;
  width: 80vw;
  @include tablet {
    width: 50vw;
  }
  @include desktop {
    width: 40vw;
  }
  text-align: left;
  .tab > h3 {
    margin: 0;
  }
  .tab0> p{
    background-color: $design_b;
    .bar{
      background-color: $design_c;
    }
  }
  .tab1 >p{
    background-color: $front_b;
    .bar{
      background-color: $front_c;
    }
  }
  .tab2 >p{
    background-color: $back_b;
    .bar{
      background-color: $back_c;
    }
  }
  .tab > p {
    width: 80vw;
    margin: 0 auto 10px;
    height: 40px;
    @include tablet {
      width: 50vw;
    }
    @include desktop {
      width: 40vw;
    }
    .icon {
      position: relative;
      z-index: 10;
      left: 10px;
      top:7px;
      i{
        font-weight: bold;
        font-size: 1.5em !important;
      }
      display: inherit;
    }
    .letterlogo{
      font-size:1.25em;
    }
    .bar {
      animation: increase 2s;
      position: relative;
      display: inline-block;
      height: 100%;
      top: -32px;
    }
    .b1{
      width:90%
    }
    .b2{
      width:85%
    }
    .b3{
      width:80%
    }
    .b-bt{
      width: 70%;
    }
    .b4{
      width:50%
    }
    .b5{
      width:85%
    }
    .b6{
      width:80%
    }
    .b7{
      width:35%
    }
    .b8{
      width:95%
    }
    .b9{
      width:65%
    }
    .b10{
      width:55%
    }
    .b11{
      width:35%
    }
    .b12{
      width: 85%
    }
    .b13{
      width:55%;
    }
    .b14{
      width:82%;
    }
    .b15{
      width:79%;
    }
    .b16{
      width:70%;
    }
    .b17{
      width:65%;
    }
    .b18{
      width:65%;
    }
    .b19{
      width:80%;
    }

  }
}

@keyframes increase{
  from {
   max-width:0%
  }
  to{
  max-width:100%;
  }
}