@import "../../../../../scss/media";
@import "../../../../../scss/var";
.contact {
    text-align: center;
  margin: 80px auto;
  width: 90%;
  @include tablet {
    width: 75%;
  }
  @include desktop {
    width: 70%;
  }
  p{
      &:hover{
          color:$blue;
          a:-webkit-any-link {
            color:$blue;
            transition: color 0.5s;
          }
      }
      margin: 20px;}
      i {
        font-size: 2em;
    margin-right: 15px;
    position: relative;
    top:5px;
  }
  a {
    letter-spacing: 2px;
    font-size: 1.5em;
    text-decoration: none;
  }
  a:-webkit-any-link {
    color: rgba(0,0,0,0.7);
    
  }
}
