@import "../../../scss/_var";
@import "../../../scss/animation";
@import "../../../scss/_mixin.scss";
@import "../../../scss/_media.scss";

h1 {
  font-size: 400%;
  margin-top: 15vh;
  margin-bottom: 5vh;
  text-align: center;
  font-family: $header;
  opacity: 0.78;
  font-weight: 400;
}

.boxes-container {
  margin: 0 auto;
  width:65vw;
  height:65vw;
  @include middle{
    width:45vw;
    height: 45vw;
  }
  @include tablet{
    width: 35vw;
    height: 35vw;
  }
  @include desktop{
    width: 25vw;
    height: 25vw;

  }
  .box {
  @include boxshadow-circle();
    width: 25%;
    height: 25%;
    display: inline-block;
    position: relative;
      -webkit-animation-duration: 0.75s;
      animation-duration: 0.75s;
      -webkit-animation-name: bounceIn;
      animation-name: bounceIn;
      &:hover {
        -webkit-animation-name: jello;
        animation-name: jello;
        -webkit-transform-origin: center;
        transform-origin: center;
    }
  }
  .box1 {
    left: 22.5%;
      background-color: $red;
  }
  .box2 {
    left: 27.5%;
      background-color: $yellow;
  }
  .box3 {
    top: 23.5%;
    left: 26%;
      background-color: $green;
  }
  .box4 {
    top: 53%;
    left:1%;
      background-color: $lightgreen;
  }
  .box5 {
    top: -4%;
      background-color: $purple;
  }
  .box6 {
    top: 26%;
    left: -25%;
      background-color: $navy;
  }
  .box7 {
    top: 50%;
    right: 27.5%;
      background-color: $blue;
  }
  .box8 {
    top: 50%;
    right: 22.5%;
      background-color: $skyblue;
  }
}

.msgBox{
  display: none;
  position: fixed !important;
  right: 25px;
  bottom:10vh;
  @include middle{
    display: inline-block;
    padding:5px 10px;
  }
  @include tablet{
    display: inline-block;
    padding: 10px 20px;
    bottom:20vh;
    right: 60px;
  }
  @include desktop{
    display: inline-block;
    padding: 10px 20px;
    right: 150px;
    bottom: 15vh;
  }
  @include boxshadow-hover-effect();
  background-image: linear-gradient(to right, #00b8d9, #74c5e7, #aad4f0, #d3e3f5, #f4f5f7);
  a{
    color:rgba(0,0,0,0.8);
    text-decoration: none;
    i{
      font-style: normal;
    }
    h2{
      font-weight: lighter;
      margin:0;
    }
  }
  -webkit-animation: mymove 3s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 3s infinite;
}
@-webkit-keyframes mymove {
  0%{
    margin-right: 0px;
  }
  50%{
    margin-right: 10px;
  }
  100%{
    margin-right: 0px;
  }
}

@keyframes mymove {
  0%{
    margin-right: 0px;
  }
  50%{
    margin-right: 10px;
  }
  100%{
    margin-right: 0px;
  }
}