<h1>
  Hayden Rahn</h1>
<div class="boxes-container">
  <div class="box1 box">
    <div class="circle" (click)="open('red')"></div>
  </div>
  <div class="box2 box">
    <div class="circle" (click)="open('yellow')"></div>
  </div>
  <div class="box3 box">
    <div class="circle" (click)="open('green')"></div>
  </div>
  <div class="box4 box">
    <div class="circle" (click)="open('lightgreen')"></div>
  </div>
  <div class="box5 box">
    <div class="circle" (click)="open('purple')"></div>
  </div>
  <div class="box6 box">
    <div class="circle" (click)="open('navy')"></div>
  </div>
  <div class="box7 box">
    <div class="circle" (click)="open('blue')"></div>
  </div>
  <div class="box8 box">
    <div class="circle" (click)="open('skyblue')"></div>
  </div>
</div>