@import "../../../scss/_var";
@import "../../../scss/animation";
@import "../../../scss/_mixin.scss";
h1 {
  font-size: 400%;
  margin-top: 15vh;
  margin-bottom: 5vh;
  text-align: center;
  font-family: $header;
  opacity: 0.78;
  font-weight: 400;
}

.boxes-container {
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
  .box {
  @include boxshadow-circle();
    width: 25%;
    height: 25%;
    display: inline-block;
    position: relative;
      -webkit-animation-duration: 0.75s;
      animation-duration: 0.75s;
      -webkit-animation-name: bounceIn;
      animation-name: bounceIn;
      &:hover {
        -webkit-animation-name: jello;
        animation-name: jello;
        -webkit-transform-origin: center;
        transform-origin: center;
    }
  }
  .box1 {
    left: 22.5%;
      background-color: $red;
  }
  .box2 {
    left: 27.5%;
      background-color: $yellow;
  }
  .box3 {
    top: 22.5%;
    left: 25%;
      background-color: $green;
  }
  .box4 {
    top: 52.5%;
      background-color: $lightgreen;
  }
  .box5 {
    top: -4%;
      background-color: $purple;
  }
  .box6 {
    top: 26%;
    left: -25%;
      background-color: $navy;
  }
  .box7 {
    top: 50%;
    right: 27.5%;
      background-color: $blue;
  }
  .box8 {
    top: 50%;
    right: 22.5%;
      background-color: $skyblue;
  }
}
