@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,600|Khula:300|Neucha:400');

$default-font: 'Khula', sans-serif;
$point-font:'Exo 2', sans-serif;
$header:'Neucha',sans-serif;
///color palette
$red: #ff5630;
$yellow: #ffab00;
$green: #00875a;
$lightgreen: #36b37e;
$skyblue: #00b8d9;
$purple: #6554c0;
$blue: #0052cc;
$navy: navy;
